.section {
  height: auto;
  min-height: 100vh;
  min-width: 100vw;
  // position: relative
  overflow: hidden;
}

.titleContainer{
  z-index: 1;
  position: absolute;
  margin: 0 auto;
  height: auto;
  width: 100%;
  padding-top: 30vh;
  text-align: center;
  font-size: 50px;
  @include tShadow;
}

.lander{
  // background-color: $color2;
  color: white;
  @include tShadow;
  h2{
  font-size: 80px;
  @include pacifico;
  text-align: center;
  }
}

.aboutMe{
  background-color: white;
  color: black;
  @include tShadow;

}



.myWork {
  background-color: $color2;
  color: white;
  @include tShadow;

}

.contactMe {
  background-color: white;
  color: black;
  @include tShadow;
}
